<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586872908300-10kf8ulmpgs95t8g9chupmhago373nn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586872908300-10kf8ulmpgs95t8g9chupmhago373nn6</string>
	<key>API_KEY</key>
	<string>AIzaSyBFa8jp32u2D4cpbo_wL1dUHgJWpnpuzfE</string>
	<key>GCM_SENDER_ID</key>
	<string>586872908300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kammy.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-25fd2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-25fd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586872908300:ios:3b5206e20130c2a21cdc29</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-25fd2.firebaseio.com</string>
</dict>
</plist>